body {
    background-color: #1d1d1d;
    color:#fff;

    .content {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:2rem;

        .filterBar {
            display:flex;
            justify-content: center;
            width: 50%;
            height:2rem;
            padding-bottom:2rem;
        }

        table {
            width: 90%;
            text-align: center;
            border-collapse: collapse;
            
            td {
                border-bottom:1px solid #fff;
                
                &:not(:last-child) {
                    border-right:1px solid #fff; 
                }
            }

            tr {
            transition:500ms;
            
                &:not(:first-child):hover {
                    transform: scale(1.05);
                    height: 5rem;
                    cursor: pointer;
                }

                &:nth-child(even) {
                    background-color: #3b3b3b;
                }
            }
        }
    }
}

.view {
    
    tbody {
        tr {
            height: 5rem;
        }
    }
}